/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
	margin: 0;
	padding: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
	--primary-color: white;
}





/****************/
/* JOUW STYLING */
/****************/

body {
	background-color: var(--primary-color)
}



li {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
}

/*HEADER*/
header {
	display: flex;
	flex-direction: row;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	padding: 10px 3rem 10px 3rem;
	position: sticky;
}

nav img:nth-of-type(1) {
	max-height: 2em;
	max-width: 2em;
}

nav img:nth-of-type(2) {
	max-width: 8em;
	max-height: 8em;
}

nav img:nth-of-type(3) {
	max-height: 2em;
	max-width: 2em;
}

p:nth-of-type(1) {
	text-align: center;
	padding-top: 20px;
}

@media (max-width: 988px) {
	ul{visibility: hidden; }
}

@media (min-width: 988px) {
	nav img:nth-of-type(1) {visibility: hidden; }
}


/*Foto 1*/
.mainimage {
	background-image: url(../images/home_foto.jpg);
	background-position: center;
	height: 40vh;
	background-size: cover;
	text-align: center;
	padding-top: 20%;
	color: white;
	font-size: 1.5em;
}

.maintext {
	margin-bottom: 50px;
}

/* KNOPPEN */
.knop1 {
	border: solid white;
	background-color: white;
	text-decoration: none;
	padding: 15px 50px 15px 50px;
	font-size: large;
	color: black;
}

.knop2 {
	border: solid white;
	background-color: white;
	text-decoration: none;
	font-size: large;
	padding: 15px 50px 15px 50px;
	color: black;
}




/*2e foto*/
/*bron voor parralax: https://www.w3schools.com/howto/howto_css_parallax.asp*/

.stickimage {
	background-image: url(../images/stijlfoto_1.jpg);
	background-size: cover;
	height: 40vh;
	text-align: center;
	padding-top: 30%;
	color: white;
	font-size: 2em;
	font-family: 'Times New Roman', Times, serif;
	background-position: center;
	background-attachment: fixed;
}