/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
	margin: 0;
	padding: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
	--primary-color: white;
}





/****************/
/* JOUW STYLING */
/****************/

body {
	background-color: var(--primary-color)
}

li {
	list-style: none;
}

/* img {
	width: 100%;
	height: auto;
} */

/*HEADER*/

header {
	display: flex;
	flex-direction: column;
}

header a {
	text-decoration: none;
	color: var(--color-text);
	justify-content: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigatie {
	display: flex;
	justify-content: center;
	padding: 20px 0px 20px 0px;
}



/* navigatie */
  
p:nth-of-type(1) {
	text-align: center;
	padding-top: 20px;
}

nav a {
	text-decoration: none;
	color: var(--color-text);
	justify-content: center;
}


header img:nth-of-type(1) {
	max-height: 2em;
	max-width: 2em;
}

header img:nth-of-type(2) {
	max-height: 8em;
	max-width: 8em;
}

header img:nth-of-type(3) {
	max-height: 2em;
	max-width: 2em;
}

header img:nth-of-type(4) {
	max-height: 2em;
	max-width: 2em;
}

header img:nth-of-type(5) {
	max-height: 2em;
	max-width: 2em;
}


/* HAMBURGER */
.container {
	display: inline-block;
	cursor: pointer;
}
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
 }
/* DARK MODE filter: invert(100%)
of brightness(0) */




/* 
@media (max-width: 988px) {
	header img:nth-of-type(1) {display: none;}
}

@media (max-width: 988px) {
	header img:nth-of-type(4) {display: none;}
}

@media (min-width: 988px) {
	header img:nth-of-type(3) {display: none}
}

@media (min-width: 988px) {
	.container {display: none;}
} */


/*Foto 1*/
.mainimage {
	background-image: url(../images/home_foto.jpg);
	background-position: center;
	height: 40vh;
	background-size: cover;
	text-align: center;
	padding-top: 20%;
	color: var(--color-background);
	font-size: 1.5em;
}

.maintext {
	margin-bottom: 50px;
}

/*2e foto*/
/*bron voor parralax: https://www.w3schools.com/howto/howto_css_parallax.asp*/

.stickimage {
	background-image: url(../images/stijlfoto_1.jpg);
	background-size: cover;
	height: 40vh;
	text-align: center;
	padding-top: 20%;
	color: var(--color-background);
	font-family: 'Times New Roman', Times, serif;
	background-position: center;
	background-attachment: fixed;
}

.stickimage h2 {
	font-size: 2em;
}

.stickimage p {
	font-size: 1em;
	margin-bottom: 50px;
}

/* KNOPPEN */
.knop1 {
	border: solid var(--color-background);
	background-color: var(--color-background);
	text-decoration: none;
	padding: 15px 50px 15px 50px;
	font-size: large;
	color: var(--color-text);
}

.knop2 {
	border: solid var(--color-background);
	background-color: var(--color-background);
	text-decoration: none;
	font-size: large;
	padding: 15px 50px 15px 50px;
	color: var(--color-text);
}


/* CARROUSEL bron: https://blog.hubspot.com/website/bootstrap-carousel-css*/

main section:nth-of-type(4) {
	font-size: 15px;
	margin: 10px 30px 50px 30px;
}

.caroussel {
	display: flex;
	overflow-x: auto;
	overflow-x: auto;
}

.caroussel article {
	display: flex;
	flex-shrink: 0;
	width: fit-content;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	align-items: center;
	scroll-snap-type: x mandatory;
}

.caroussel article:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	margin: 10px 10px 10px 10px;
}

.caroussel article:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	margin: 10px 10px 10px 10px;
}

.caroussel img:nth-of-type(1) {
	max-height: 80%;
	max-width: 80%;
	align-items: left;
	margin: 20px 20px 20px 20px;
}

.caroussel h3 {
	font-size: 30px;
	line-height: 20px;
}

.caroussel p {
	font-size: 15px;
	line-height: 20px;
	margin: 20px 20px 20px 20px;
}


/* COLLECTIONS */
main section:nth-of-type(6) {
	margin: 30px 20px 80px 20px;
	font-size: 25px;
}

main section:nth-of-type(7) {
	margin: 20px 20px 20px 20px;
}

.collecties a {
	text-decoration: none;
	color: var(--color-text);
	font-size: 20px;
	font-weight: 500;
}

/* LATEST ADDITIONS CAROUSSEL */

.caroussel2 {
	display: flex;
	overflow-x: auto;
	overflow-x: auto;
}

.caroussel2 article {
	display: flex;
	flex-shrink: 0;
	width: fit-content;
	height: 300px;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	align-items: center;
	scroll-snap-type: x mandatory;
}

.caroussel2 article:nth-of-type(1) {
	display: flex;
	flex-direction: column;
}

.caroussel2 article:nth-of-type(2) {
	display: flex;
	flex-direction: column;
}

.caroussel2 article:nth-of-type(3) {
	display: flex;
	flex-direction: column;
}

.caroussel2 article:nth-of-type(4) {
	display: flex;
	flex-direction: column;
}

.caroussel2 article:nth-of-type(5) {
	display: flex;
	flex-direction: column;
}

.caroussel2 img {
	max-height: 50%;
	max-width: 50%;
}

.caroussel2 img:nth-of-type() {
	max-height: 50%;
	max-width: 50%;
}

.caroussel2 h3 {
	font-size: 20px;
	line-height: 20px;
	margin: 20px 0px 20px 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.caroussel2 p {
	font-size: 15px;
	line-height: 20px;
}


/* BOVEN FOOTER */

section:nth-of-type(10) {
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	line-height: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

.bovenfooter img:nth-of-type(1) {
	max-height: 8em;
	max-width: 8em;
}

.bovenfooter img:nth-of-type(2) {
	max-height: 5em;
	max-width: 5em;
}

/* FOOTER */

footer {
	text-align: center;
}

footer a {
	justify-content: center;
	text-decoration: none;
	list-style: circle;
	color: var(--color-text);
	font-size: 10px;
}

footer img {
	max-height: 9em;
	max-width: 9em;
}

/* PAGINA 2 */

/* CAROUSSEL P2*/

.caroussel3 {
	display: flex;
	overflow-x: auto;
	overflow-x: auto;
}

.caroussel3 section {
	display: flex;
	flex-shrink: 0;
	width: fit-content;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	align-items: center;
	scroll-snap-type: x mandatory;
}

.caroussel3 section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px;
}

.caroussel3 section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px;
}

.caroussel3 section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px;
}

/* TEXT P2 */

.catalogpage p {
	text-align: start;
	margin: 20px 20px 20px 20px;
}

.catalogpage h1 {
	text-align: start;
	margin: 20px 20px 20px 20px;
}

.catalogpage h2 {
	text-align: start;
	margin: 20px 20px 20px 20px;
}

.catalogpage {
	padding-bottom: 50px;
}


/* MATEN */

button {
	padding: 5px 10px 5px 10px;
	border-radius: 30px;
	background-color: var(--color-background);
	font-size: 15px;
}

.sizes {
	margin: 20px 20px 20px 20px;
}

/* YOU MAY ALSO LIKE */

.youmayalsolike {
	display: flex;
	justify-content: center;
}

.youmayalsolike img {
	max-height: fit-content;
	max-width: 80%;
	display: flex;
	margin-left: ;
	justify-content: center;
}

.youmayalsolike section:nth-of-type(1) {
	displa
}

.youmayalsolike h3 {
	display: flex;
	justify-content: center;
}

.youmayalsolike p {
	display: flex;
	justify-content: center;
}

/* BOVENFOOTER P2 */

.bovenfooter {
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	line-height: 30px;
	margin-left: 50px;
	margin-right: 50px;
}