/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
	margin: 0;
	padding: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
	--primary-color: white;
}





/****************/
/* JOUW STYLING */
/****************/

body {
	background-color: var(--primary-color)
}



li {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
}

/*HEADER*/
header {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	padding-top: 20px;
}

nav img:nth-of-type(1) {
	max-height: 2em;
	max-width: 2em;
}

nav img:nth-of-type(2) {
	max-height: 2em;
	max-width: 2em;
}

nav img:nth-of-type(3) {
	max-width: 8em;
	max-height: 8em;
}

nav img:nth-of-type(4) {
	max-height: 2em;
	max-width: 2em;
}

nav img:nth-of-type(5) {
	max-height: 10em;
	max-width: 10em;
}

nav img:nth-of-type(6) {
	max-height: 2em;
	max-width: 2em;
}

p:nth-of-type(1) {
	text-align: center;
	padding-top: 20px;
}

nav a {
	text-decoration: none;
	color: var(--color-text);
	justify-content: center;
}



@media (max-width: 988px) {
	nav ul{display: none;}
}

@media (min-width: 988px) {
	nav img:nth-of-type(1) {display: none;}
}

@media (max-width: 988px) {
	nav img:nth-of-type(2) {display: none;}
}

@media (max-width: 988px) {
	nav img:nth-of-type(5) {display: none}

}

@media (min-width: 988px) {
	nav img:nth-of-type(4) {display: none;}
}


/*Foto 1*/
.mainimage {
	background-image: url(../images/home_foto.jpg);
	background-position: center;
	height: 40vh;
	background-size: cover;
	text-align: center;
	padding-top: 20%;
	color: var(--color-background);
	font-size: 1.5em;
}

.maintext {
	margin-bottom: 50px;
}

/*2e foto*/
/*bron voor parralax: https://www.w3schools.com/howto/howto_css_parallax.asp*/

.stickimage {
	background-image: url(../images/stijlfoto_1.jpg);
	background-size: cover;
	height: 40vh;
	text-align: center;
	padding-top: 20%;
	color: var(--color-background);
	font-family: 'Times New Roman', Times, serif;
	background-position: center;
	background-attachment: fixed;
}

.stickimage h2 {
	font-size: 2em;
}

.stickimage p {
	font-size: 1em;
	margin-bottom: 50px;
}

/* KNOPPEN */
.knop1 {
	border: solid var(--color-background);
	background-color: var(--color-background);
	text-decoration: none;
	padding: 15px 50px 15px 50px;
	font-size: large;
	color: var(--color-text);
}

.knop2 {
	border: solid var(--color-background);
	background-color: var(--color-background);
	text-decoration: none;
	font-size: large;
	padding: 15px 50px 15px 50px;
	color: var(--color-text);
}


/* CARROUSEL */

img:nth-of-type(8){
	max-height: 50px;
}

